In [4]:

import speech_recognition as sr
from gtts import gTTS
import os
import playsound
import wikipedia
import webbrowser
import pyjokes
import pyaudio
import os

# Desabilitar mensagens de erro ALSA e Jack
os.environ['PYGAME_HIDE_SUPPORT_PROMPT'] = 'hide'

class Robo:
    def __init__(self):
        self.recognizer = sr.Recognizer()
        self.microphone = sr.Microphone()

    def get_audio(self):
        with self.microphone as source:
            try:
                self.recognizer.pause_threshold = 1
                self.recognizer.adjust_for_ambient_noise(source, 1)
                audio = self.recognizer.listen(source)
                said = self.recognizer.recognize_google(audio)
                print(said)
                return said.lower()
            except Exception as e:
                print("Não entendi: " + str(e))
                return ""


    def salvar_para_arquivo(self, texto, nome_arquivo):
        with open(nome_arquivo, 'w') as arquivo:
            arquivo.write(texto)

    def ler_de_arquivo(self, nome_arquivo):
        try:
            with open(nome_arquivo, 'r') as arquivo:
                texto = arquivo.read()
                return texto
        except FileNotFoundError:
            return "O arquivo não foi encontrado."

    def falar(self, texto):
        tts = gTTS(text=texto, lang='pt')
        fileName = 'voice.mp3'
        try:
            os.remove(fileName)
        except OSError:
            pass
        tts.save(fileName)
        playsound.playsound(fileName)

    def executar(self):
        while True:
            print('Estou ouvindo...')
            texto = self.get_audio()
            if 'olá' in texto:
                self.falar('Olá, como posso ajudar?')
            elif 'youtube' in texto:
                self.falar('Abrindo YouTube')
                url = 'https://www.youtube.com/'
                webbrowser.get().open(url)
            elif 'pesquisar' in texto:
                self.falar('Pesquisando na Wikipedia')
                query = texto.replace('pesquisar', '')
                result = wikipedia.summary(query, sentences=3)
                self.falar('De acordo com a Wikipedia')
                print(result)
                self.falar(result)

            elif 'piada' in texto:
                self.falar(pyjokes.get_joke())

            elif 'salvar' in texto:
                self.falar('O que você gostaria de salvar em um arquivo de texto?')
                texto_para_salvar = self.get_audio()
                if texto_para_salvar:
                    self.salvar_para_arquivo(texto_para_salvar, 'texto_salvo.txt')
                    self.falar('Texto salvo com sucesso.')
            elif 'ler arquivo' in texto:
                texto_lido = self.ler_de_arquivo('texto_salvo.txt')
                self.falar(texto_lido)

            elif 'sair' in texto:
                self.falar('Até mais, Mestre Pedro')
                break


if __name__ == "__main__":
    robo = Robo()
    robo.executar()

ALSA lib pcm_dsnoop.c:566:(snd_pcm_dsnoop_open) unable to open slave
ALSA lib pcm_dmix.c:1000:(snd_pcm_dmix_open) unable to open slave
ALSA lib pcm.c:2675:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2675:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.center_lfe
ALSA lib pcm.c:2675:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.side
Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
ALSA lib pcm_oss.c:397:(_snd_pcm_oss_open) Cannot open device /dev/dsp
ALSA lib pcm_oss.c:397:(_snd_pcm_oss_open) Cannot open device /dev/dsp
ALSA lib pcm_a52.c:1001:(_snd_pcm_a52_open) a52 is only for playback
ALSA lib confmisc.c:160:(snd_config_get_card) Invalid field card
ALSA lib pcm_usb_stream.c:482:(_snd_pcm_usb_stream_open) Invalid card 'card'
ALSA lib confmisc.c:160:(snd_config_get_card) Invalid field card
ALSA lib pcm_usb_stream.c:482:(_snd_pcm_usb_stream_open) Invalid card 'card'
ALSA lib pcm_dmix.c:1000:(snd_pcm_dmix_open) unable to open slave
Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
ALSA lib pcm_dsnoop.c:566:(snd_pcm_dsnoop_open) unable to open slave
ALSA lib pcm_dmix.c:1000:(snd_pcm_dmix_open) unable to open slave
ALSA lib pcm.c:2675:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2675:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.center_lfe
ALSA lib pcm.c:2675:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.side
Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
ALSA lib pcm_oss.c:397:(_snd_pcm_oss_open) Cannot open device /dev/dsp
ALSA lib pcm_oss.c:397:(_snd_pcm_oss_open) Cannot open device /dev/dsp
ALSA lib pcm_a52.c:1001:(_snd_pcm_a52_open) a52 is only for playback
ALSA lib confmisc.c:160:(snd_config_get_card) Invalid field card
ALSA lib pcm_usb_stream.c:482:(_snd_pcm_usb_stream_open) Invalid card 'card'
ALSA lib confmisc.c:160:(snd_config_get_card) Invalid field card
ALSA lib pcm_usb_stream.c:482:(_snd_pcm_usb_stream_open) Invalid card 'card'
ALSA lib pcm_dmix.c:1000:(snd_pcm_dmix_open) unable to open slave
Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock

Estou ouvindo...
hello vocational music
Estou ouvindo...

ALSA lib pcm_dsnoop.c:566:(snd_pcm_dsnoop_open) unable to open slave
ALSA lib pcm_dmix.c:1000:(snd_pcm_dmix_open) unable to open slave
ALSA lib pcm.c:2675:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2675:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.center_lfe
ALSA lib pcm.c:2675:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.side
Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
ALSA lib pcm_oss.c:397:(_snd_pcm_oss_open) Cannot open device /dev/dsp
ALSA lib pcm_oss.c:397:(_snd_pcm_oss_open) Cannot open device /dev/dsp
ALSA lib pcm_a52.c:1001:(_snd_pcm_a52_open) a52 is only for playback
ALSA lib confmisc.c:160:(snd_config_get_card) Invalid field card
ALSA lib pcm_usb_stream.c:482:(_snd_pcm_usb_stream_open) Invalid card 'card'
ALSA lib confmisc.c:160:(snd_config_get_card) Invalid field card
ALSA lib pcm_usb_stream.c:482:(_snd_pcm_usb_stream_open) Invalid card 'card'
ALSA lib pcm_dmix.c:1000:(snd_pcm_dmix_open) unable to open slave
Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock
JackShmReadWritePtr::~JackShmReadWritePtr - Init not done for -1, skipping unlock

KeyboardInterrupt:

In [ ]:
import pandas as pd

cardapio_df = pd.read_excel('cardapio.xlsx',skiprows=2)


def get_colunas(_dataframe):
    colunas = _dataframe.columns
    return colunas

display(cardapio_df)

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
colunas_df = get_colunas(cardapio_df)

colunas_dataframe = []

for i in colunas_df:
    colunas_dataframe.append(i)

colunas_dataframe

['Açaí e Pitaya',
 '300ml',
 '500ml',
 'Unnamed: 3',
 'Tapioca',
 'Preço',
 'Unnamed: 6',
 'Crepe',
 'Preço.1',
 'Unnamed: 9',
 'Omelete',
 'Preço.2',
 'Unnamed: 12',
 'Cuscuz de Milho',
 'Preco',
 'Unnamed: 15',
 'Hamburgueres Citta',
 'Unnamed: 17',
 'Preco Hamburguer',
 'Unnamed: 19',
 'Sobremesas',
 '300ml.1',
 'Unnamed: 22',
 'Salgados',
 'Preco.1',
 'Unnamed: 25',
 'Sanduíche Natural',
 'Preço.3',
 'Preco 2',
 'Unnamed: 29',
 'Sanduíches Tradicionais',
 'Igredientes',
 'Preço.4',
 'Unnamed: 33',
 'Pratos Tradicionais',
 'Preço.5',
 'Unnamed: 36',
 'Pratos a la carte',
 'Preço.6',
 'Unnamed: 39',
 'Petiscos',
 'Meia',
 'Inteira',
 'Unnamed: 43',
 'Sopas Tradicionais',
 'Preços',
 'Unnamed: 46',
 'Pizzas',
 'Igredientes.1',
 'Brotinho',
 'Média',
 'Grande',
 'Familia']

In [ ]:

array_table = []

for i in range(len(colunas_df)):
    tabela = cardapio_df[[colunas_df[i]]].dropna()
    array_table.append(tabela)
    if i == 2:
        break

def juntar_df():
    # Concatenar os DataFrames horizontalmente
    concatenated_df = pd.concat([array_table[0], array_table[1], array_table[2]], axis=1)

    # Exibir o DataFrame concatenado
    concatenated_df = concatenated_df.dropna()
    return concatenated_df
juntar_df()

  Açaí e Pitaya  300ml  500ml
0          Açai   14.0   18.0
1        Pitaya   14.0   18.0
3       Morango    2.0    2.0
4        Banana    2.0    2.0
5       Granola    2.0    2.0
6    Proteinato    4.0    4.0

In [ ]:
acai_df = cardapio_df['Açaí e Pitaya']
acai_300 = cardapio_df['300ml']
acai_500 = cardapio_df['500ml']

# Concatenar os DataFrames horizontalmente
concatenated_df = pd.concat([acai_df, acai_300, acai_500], axis=1)

# Exibir o DataFrame concatenado
concatenated_df.dropna()

  Açaí e Pitaya  300ml  500ml
0          Açai   14.0   18.0
1        Pitaya   14.0   18.0
3       Morango    2.0    2.0
4        Banana    2.0    2.0
5       Granola    2.0    2.0
6    Proteinato    4.0    4.0

In [ ]:
import pandas as pd
import os

def gerarJson(df, tabela_num):
    output_folder = 'Cardapio Json'  # Nome da pasta de saída
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)

    json_data = df.to_json(orient='records', force_ascii=False)
    file_name = f'tabela{tabela_num}.json'  # Nome do arquivo
    file_path = os.path.join(output_folder, file_name)  # Caminho completo do arquivo

    with open(file_path, 'w', encoding='utf-8') as file:
        file.write(json_data)

    print(f'Arquivo {file_name} salvo com sucesso!')

def criar_tabelas_dinamicas(colunas, df, tabela_num=1):
    tabela_colunas = []
    tabela_valores = []

    tabelas = []

    for coluna in colunas:
        if 'Unnamed' in coluna:
            if tabela_colunas:
                tabela = pd.DataFrame({col: val for col, val in zip(tabela_colunas, tabela_valores)})
                tabela = tabela.dropna()
                tabelas.append(tabela)
                tabela_colunas = []
                tabela_valores = []
                tabela_num += 1
            continue

        tabela_colunas.append(coluna)
        tabela_valores.append(df[coluna])

    if tabela_colunas:
        tabela = pd.DataFrame({col: val for col, val in zip(tabela_colunas, tabela_valores)})
        tabela = tabela.dropna()
        tabelas.append(tabela)

    for tabela_df in tabelas:
        display(tabela_df)
        gerarJson(tabela_df, tabela_num)
        tabela_num += 1

    return tabelas

colunas = ['Açaí e Pitaya', '300ml', '500ml', 'Unnamed: 3', 'Tapioca', 'Preço', 'Unnamed: 6']

tabelas = criar_tabelas_dinamicas(colunas_dataframe, cardapio_df)

print('\nProcesso concluído.')

  Açaí e Pitaya  300ml  500ml
0          Açai   14.0   18.0
1        Pitaya   14.0   18.0
3       Morango    2.0    2.0
4        Banana    2.0    2.0
5       Granola    2.0    2.0
6    Proteinato    4.0    4.0

Arquivo tabela16.json salvo com sucesso!

                      Tapioca  Preço
0  carne seca e queijo coalho   20.0
1     coco e leite condensado   15.0
2                Com Manteiga   11.0
3           frango com queijo   18.0
4                    muçarela   15.0
5     peito de peru com minas   20.0
6               queijo coalho   16.0
7         Queijo com presunto   15.0
8                queijo minas   15.0
9                     Simples   10.0

Arquivo tabela17.json salvo com sucesso!

                         Crepe  Preço.1
0        Atum com Cream Cheese     24.0
1     Carne Seca com Q. Coalho     22.0
2  Frango, Palmito e Requeijão     22.0
3   Peito de Peru com Q. Minas     22.0
4          Queijo com Presunto     21.0

Arquivo tabela18.json salvo com sucesso!

                      Omelete  Preço.2
0       Atum com Cream Cheese     23.0
1  Peito de Peru com Q. Minas     23.0
2         Queijo com Presunto     17.0
3                Queijo Minas     17.0
4             Tomate e Cebola     15.0

Arquivo tabela19.json salvo com sucesso!

  Cuscuz de Milho  Preco
0        Recheado   15.0
1         Simples   10.0

Arquivo tabela20.json salvo com sucesso!

        Hamburgueres Citta
0               Hamburguer
1            CheeseBurguer
2             CheeseSalada
3              CheeseBacon
4        Egg CheeseBurguer
5  Egg Cheese com Presunto
6        Egg Cheese Salada
7         Egg Cheese Bacon
8            RUFOS Sanduba
9                   X Tudo

Arquivo tabela21.json salvo com sucesso!

   Preco Hamburguer
0               9.0
1              13.0
2              14.0
3              14.0
4              14.0
5              16.0
6              16.0
7              16.0
8              23.0
9              21.0

Arquivo tabela22.json salvo com sucesso!

               Sobremesas  300ml.1
0  Salada de Frutas 300ml     10.0
1  Salada de Frutas 500ml     13.0
2         Prato de Verão      20.0
3             Pudim Fatia     10.0
4             Torta Fatia     10.0

Arquivo tabela23.json salvo com sucesso!

                  Salgados  Preco.1
0  Batata frita 1/2 porção     15.0
1      Batata Frita Porçao     24.0
2           Fatia de Pizza      9.0
3       Pão Queijo Unidade      4.0
4            Pizza Gigante     49.9
5        Salgados Diversos      7.0

Arquivo tabela24.json salvo com sucesso!

  Sanduíche Natural  Preço.3  Preco 2
0     Pasta de Atum     16.0     20.0
1   Pasta de Frango     15.0     18.0
3          Azeitona      1.0      0.0
4           Cenoura      1.0      0.0
5             Milho      1.0      0.0
6            Passas      1.0      0.0
7           Palmito      1.0      0.0

Arquivo tabela25.json salvo com sucesso!

,Sanduíches Tradicionais,Igredientes,Preço.4
0,Americano,"Pão, Queijo Presunto, Ovo, Tomate e Alface",17.0
1,Bauru,"Pão, Queijo, Filé, Ovo, Tomate, Alface e Fritas",30.0
2,Filé de Carne,Pão Francês e Filé de Carne,21.0
3,Filé de Frango,Pão Francês e Filé de Frango,19.0
4,Misto Quente,"Pão de forma, Queijo e Presunto",12.0
5,Peito de Peru,Pão árabe e Peito de Peru,18.0
6,Queijo Quente,Pão de Forma e Queijo,12.0
7,Queijo Quente com Banana,"Pão de forma, Queijo, Banana, Canela e Açucar",14.0

Arquivo tabela26.json salvo com sucesso!

          Pratos Tradicionais  Preço.5
0             Carioca da Gema      0.0
1                Carne Assada      0.0
2          Picadinho de Carne      0.0
3              Bife Acebolado      0.0
4             Bife a Milanesa      0.0
5         Carne moída com ovo      0.0
6   Filé de frango à milanesa      0.0
7   Iscas de frango empanadas      0.0
8             Iscas de fígado      0.0
9   Coxa e Sobrecoxa ao Forno      0.0
10                      Carré      0.0
11   Bife de Fígado Acebolado      0.0
12     Filé de Peixe Empanado      0.0
13                Bife à rolé      0.0

Arquivo tabela27.json salvo com sucesso!

                   Pratos a la carte  Preço.6
0                  Filé à Brasileira        0
1              Filé à Oswaldo Aranha        0
2               Contra Filé à Gaúcha        0
3             Contra Filé à Campanha        0
4                  Filé à Parmegiana        0
5        Filé de Frango à Parmegiana        0
6           Escalopinho à Piamontese        0
7   Strogonoff de Carne ou de Frango        0
8           Filé de Tilápia Grelhada        0
9              Espaguete à Bolonhesa        0
10                           Lasanha        0
11          Espaguete com Almôndegas        0
12      Executivo de Carne ou Frango        0
13                Executivo de Peixe        0
14              Carne Seca à Mineira        0
15                      Batata Rosti        0
16                   Picanha à Citta        0
17                   Churrasco Misto        0

Arquivo tabela28.json salvo com sucesso!

                               Petiscos  Meia  Inteira
0                  Provolone a Milanesa  24.9     42.9
1                           Aipim Frito  14.9     21.9
2                      Porção Salaminho  22.9     32.9
3                      Lingüiça Mineira  18.9     28.9
4                   Bolinho de Bacalhau  22.9     38.9
5                     Croquete de Carne  13.9     25.9
6   Gurjão a Milanesa - Peixe ou Frango  26.9     39.9
7                                Fritas  14.9     23.9
8             Fritas com Queijo e Bacon  19.9     28.9
9                   Calabresa Acebolada  17.9     28.9
10                  Frango à Passarinho  28.9     39.9
11               Contra Filé Apertitivo  28.9     48.9
12                   Espetinho na Chapa  23.9     43.9
13                          Pastelzinho  16.9     28.9

Arquivo tabela29.json salvo com sucesso!

  Sopas Tradicionais  Preços
0        Caldo Verde    19.9
1    Sopa de Legumes    19.9
2    Sopa de Ervilha    19.9
3   Canja de Galinha    19.9
4       Feijão Amigo    19.9

Arquivo tabela30.json salvo com sucesso!

,Pizzas,Igredientes.1,Brotinho,Média,Grande,Familia
0,Quatro Queijos,"Muçarela, Catupiry, Provolone, Queijo Prato, A...",20.9,26.9,34.9,44.9

Arquivo tabela31.json salvo com sucesso!

Processo concluído.

In [ ]:
for tabela_nome, tabela_df in tabelas.items():
    print(f"{tabela_nome}:")
    display(tabela_df)
    gerarJson(tabela_df)
    print()